/*SOMMAIRE
-------------------------------------------------------
1. MISE EN PAGE GÉNÉRALE 
2. PARTIE DROITE (MAIN)
3. PARTIE GAUCHE (ASIDE)
4. RESPONSIVE DESIGN
*/

/*1.MISE EN PAGE GÉNÉRALE
----------------------------------------------------*/
*{
    box-sizing:border-box;
}
body{
    font-family:  'Oranienbaum', serif;
    color: #424242;
    font-weight: 200;
    padding: 0;
    margin: 0;
}
.container{
    display:flex;
    flex-direction: row-reverse;
}
/*Titres*/
.title{
    margin: 0 0 120px 55px;
}
hr{
    border: 1px solid #7E57C2;
    width:9%;
    margin: 0px;
}
h1{
    font-size: 3.5em;
    font-weight:300;
}
h1 span{
    color: #7E57C2;
}
h2{
    font-size: 2.5em;
    text-transform: capitalize;
    font-weight: 200;
}
h3{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 2px solid #7E57C2;
    padding-bottom: 15px;
}
h4{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;
}
/*Main*/

main{
     flex: 2;
     padding: 0 40px 0 50px;
}
li{
    list-style: none;
    display: flex;
}
.fas, .far{
    color: #7E57C2;
    font-size: 0.7em;
    margin-right: 30px;
}
.date{
    flex: 1;
}
.date i{
    margin-right: 8px;
}
.date p:nth-child(2){
    margin: -10px 0 0 18px;
}
.party_right_text{
    display: flex;
    flex-direction: column;
    flex: 2;
}
.party_right_text p{
    margin-bottom: 0px;
}
.recommandations{
    display: flex;
    line-height: 5px;
}
.recommandations span{
    font-weight: bold;
}
.primary_section{
   width:50%;
}
.primary_section p{
    margin-bottom: 20px;
}
.seconde_section p{
    margin-bottom: 20px;
}

/*Aside*/
aside{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color:#7E57C2;
    padding-top:50px;
    color:#FFF; 
    text-align: justify;
}
aside img{
    border: 5px solid #7657c2;
    display: flex;
    margin:auto;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 10px solid #424242;
    border-radius: 300px;
}
aside h3{
    background-color: #424242;
    text-align: center;
    padding: 7px;
}
adress{
    margin-left: 30px;
}
aside a{
    text-decoration: none;
}
aside a:hover{
    color: #faff00;
}
aside a:visited{
   color: #1000ff;
}

aside .moi p{
    text-align: justify;
    line-height: 30px;
    letter-spacing: 1px; 
    margin: 10px 20px 10px 20px;
}
.aside_loisirs{
    margin-top: 100%;
}
aside .fas{
    font-size: 3em;
    color: #FFF;
}
.aside_loisirs_icons{
    text-align: center;
}
/*4. RESPONSIVE DESIGN*/

@media screen and (min-width: 767px) {
main figure img{
     display:none; 
    }
}
/*mobile*/
@media screen and (max-width: 768px){
    .container{
     display:flex;
     flex-direction: column;
 }
   aside img{
        display: none;
    }
    img{
    border: 3px solid #7657c2;
    display: flex;
    margin: auto;
    margin-top: 20px;
    border-radius: 300px;
    }
    .title{
   text-align: center;
    margin-left: 0px;
    margin-bottom: 10%;
}
    h1 h2{
    font-size: 2.5em;
    font-weight:300;
}
    hr{
    border: 1px solid #7E57C2;
    width:50%;
    margin: auto;
}
    li{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 10px 0px #9e70ee;
        padding: 10px;
        margin-bottom: 15px;
        border-radius:7px;
        margin-left: -30px;
        text-align: center;
    }
    .date{
        display: block ruby;
    }
    h4{
        margin-top: 2%;
    }
    .recommandations{
    margin-bottom: 10px;
        line-height: 3px;
    font-size: 0.8em;
    }
    .primary_section{
        margin-top: -5%;
        display: flex;
        flex-direction: column;
        flex:1; 
    }
     .seconde_section{
         margin-top: -5%;
         display: flex;
         flex-direction: column;
         flex: 2;
         margin-left: 8px;
    }
    aside h3:nth-child(2) {
       margin-top: -15%;
    }
    adress{
        text-align: center;
    }
    .aside_loisirs {
    margin-bottom: 5%;
    margin-top: auto;
}
    
    
}

